@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "ArticulatCF-500";   
    src: local("ArticulatCF"),
      url("./../fonts/airticulat/ArticulatCF-Bold.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "ArticulatCF-700";   
    src: local("ArticulatCF"),
      url("./../fonts/airticulat/ArticulatCF-Heavy.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Rubrik-300";   
    src: local("Rubrik-Semibold"),
      url("./../fonts/rubrik/Rubrik-Semibold.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Rubrik-400";   
    src: local("Rubrik"),
      url("./../fonts/rubrik/Rubrik-Semibold.ttf") format("truetype");
    font-weight: 400;
} */